@tailwind base;
@tailwind components;
@tailwind utilities;

.color-background {
  background-color: #eef2f3;
}
.color-secondary {
  background-color: #c2ccbc;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.br {
  border-radius: 8px !important;
}

.max {
  width: 90%;
  max-width: 600px;
}

.middle {
  width: 90%;
  max-width: 400px;
}

.pos-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 20px;
}
