APP_NAME=saint_seeing

# DATABASE
DB_NAME=${APP_NAME}
DB_USER=postgres
DB_PASSWORD=password
DB_PORT=5432
DB_CONTAINER_NAME=${APP_NAME}_postgres

# APP
PORT=3000
ASSET_URL=http://localhost:5173 # the address of the vite dev server
SERVER_URL=http://localhost:3000 # the address of the server

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CONTAINER_NAME=${APP_NAME}_redis

# REDIS COMMANDER
REDIS_COMMANDER_PORT=8081
REDIS_COMMANDER_CONTAINER_NAME=${APP_NAME}_redis_commander

#ADMIN
ADMIN_EMAIL=changeme
ADMIN_PASSWORD=password

ENCRYPTION_KEY="eae0c2333e40d400a6871244648ee4493348bbceaaab9f9a2b1daabbb6326df7"

# IMPORTANT! IF YOU CHANGE THE DB VARIABLES ABOVE YOU MUST ALSO UPDATE THEM
# IN THIS STRING
DATABASE_URL="postgresql://postgres:password@localhost:5432/saint_seeing?schema=public"